<!DOCTYPE html>
<html lang="en">
<head>
	<link type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="Stylesheet" /> 
        <script src="http://code.jquery.com/jquery-1.9.1.js" type="text/javascript"></script> 
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>
	<link rel="stylesheet" href="style.css" />
	<title>Archive - {% block title %}{% endblock %}</title>
</head>

<body>
	<div id="navbar">
		<a href="">Latest Logs</a>
		<a href="shows/">Shows</a>
		<a href="timelookup/">Time</a>
		<a href="genres/">Genre</a>
        </div>
	<div id="title">
		<h1>{% block pagename %}{% endblock %}</h1>
	</div>
	<div id="content">
		{% block content %}{% endblock %}
	</div>
</body>
</html>
