<ul>
  <li>{{ showsingenre.name }}</li>
  <!-- TODO add for loop for hosts -->
  <li>{{ show_info.day }}</li>
  <li>{{ show_info.timeslot }}</li>
  <li>{{ show_info.startdate }}</li>
  <!-- TODO add an if statment for biweekly-->
  <li>Biweekly={{ show_info.biweekly }}</li>
  <li>{{ show_info.length }}</li>
  <li>{{ show_info.genre }}</li>
  <li>Inactive={{ show_info.inactive }}</li>
  <li>{{ show_info.description }}</li>
    <h1>Contact Info</h1>
  <li>{{ show_info.website }}</li>
  <li>{{ show_info.email }}</li>
  <li>{{ show_info.twitter }}</li>
  <li>{{ show_info.facebook }}</li>
   
</ul>
