{% extends "archive/base.html" %}
{% block title %}{{ showinfo.name }}{% endblock %}
{% block pagename %}{{ showinfo.name }}{% endblock %}
{% block content %}
<ul>
  <!-- TODO add for loop for hosts -->
  <li>Genre:{{ showinfo.genre }}</li>  
  <li>Timeslot:{{ showinfo.day }},{{ showinfo.timeslot_startdate }}</li>
  <li>Biweekly={{ showinfo.biweekly }}</li>
  <li>{{ showinfo.length }}</li>
  <li>Inactive={{ showinfo.inactive }}</li>
  <p>{{ showinfo.description }}</p>
</ul>
<h1>Latest Logs</h1>
{% for l in latestlogs %}
<ul>
<li><a href="ftp://129.128.76.120/{{ l }}">{{ l }}</a></li>
</ul>
{% endfor %}
{% endblock %}
